# SSH keys
ssh_keys/
*.pem
*.key

# Terraform state and related files
*.tfstate
*.tfstate.backup
.terraform/
crash.log
terraform.tfvars
override.tf
override.tf.json
*.tfplan

# Ansible
*.retry
*.swp
*.swo
*.tmp
*.log
*~
inventory.ini
__pychache__/
.ansible/

#Ansible Vault secrets
ansible/playbooks/group_vars/*vars*.yml
ansible/playbooks/group_vars/*_secrets.yml

# Cloud images and other large binaries
project_pool/*.qcow2
project_pool/*.iso
project_pool/ubuntu-*.img

# Backup and temp files
*~
*.bak
*.swp
*.tmp
.DS_Store
