network:
  version: 2
  ethernets:
    {{ansible_default_ipv4.interface}}:
      dhcp4: no
      addresses:
        - {{ ansible_default_ipv4.address }}/24
      gateway4: {{ ansible_default_ipv4.gateway }}
      nameservers:
        addresses:
          - 10.0.0.10
          - 1.1.1.1
