global
    log /dev/log    local0
    log /dev/log    local1 notice
    daemon
    maxconn 2048

defaults
    log     global
    timeout connect 5000
    timeout client 50000
    timeout server 50000

# --- HTTP Frontend & Backends ---
frontend http_front
    bind *:80
    mode http
    acl is_storage hdr(host) -i storage.infra.prog
    acl is_proxy hdr(host) -i proxy.infra.prog

    use_backend storage_backend if is_storage
    use_backend proxy_backend if is_proxy

backend storage_backend
    mode http
    server nextcloud 10.0.0.20:80 check

backend proxy_backend
    mode http
    server proxy 127.0.0.1:80 check

# --- TCP Frontend & Backends ---
frontend tcp_mail
    bind *:2525
    mode tcp
    default_backend mail_backend

frontend tcp_pg
    bind *:5433
    mode tcp
    default_backend db_backend

backend mail_backend
    mode tcp
    server mail 10.0.0.30:25 check

backend db_backend
    mode tcp
    server database 10.0.0.40:5432 check

